#MenuContainer{
    max-width: 1300px;
    /* margin: 0px 10rem; */
}
#foodCard{
    margin: 13px;
}
.cards{
    margin-bottom: 60px;
}
.starter{
    padding: 15px;
}
.StarterImage {
    position: relative; 
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.StarterImage::before {    
    content: "";
    background: url('../Images/Order Items/Starter_banner.jpg') no-repeat center center/cover;
    /* background-size: cover; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}
h1 {
    position: relative;
    color: #ffffff;  
    font-size: 4rem !important;
    line-height: 0.9;
    text-align: center;
  }

  @media screen and (max-width:755px){
    .StarterImage::before {    
        background: url('../Images/Order Items/starter_mobile.jpeg') no-repeat center center/cover;
        /* background-size: cover; */
       
    }
  }


  .card{
      margin: 20px;
  }
  .card img{
      width: 100%;
      height: 100%;
  }