*{
    margin : 0;
    padding : 0;
    font-family: 'Baloo Bhai 2', cursive;
}
body{
  background: url(../Images/240725.jpg) fixed;
}
/* ------------------------------------------ NAVBAR ------------------------------------------ */

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f0f0f0;
  transform:translateY(-3px)
}
#logo{
    width: 60px;
    border-radius: 10px;
}
/* hover effect navbar  */
/* .nav-link :hover .nav-item{
  border-bottom: 1px solid #ff8128;
}
 */


/*****Sign in and Sign in buttone margin*****/

.sign{
    margin-right: 6px;
}

 /**************MODAL{SIGN UP}**************/
 .signup_dialog{
    max-width:60%;
  }
  .signup_img{
      background-image: url('../Images/signup.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
  }
  .signup_content h3{
    margin-bottom: 0;
    font-weight: 600;
  }

  .signup_form .form-control{
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border-color: #f0f0f0;
  }
  .signup_form .form-check-label{
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .signup_form .btn-primary{
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #fc0357;
    border-color: #fc0357;
  }

  .signup_form .btn-primary:not(:disabled):not(.disabled):active{
    background-color: #fc0357;
    border-color: #fc0357;
  }

  .signup_form .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #fc035773;
  }

  .btn-facebook{
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #1977f3;
    border-color: #1977f3;
  }
  .btn-google{
    color: black;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: rgb(233, 233, 233);
    border-color: rgb(233, 233, 233);
  }

  .btn img{
      margin-right: 6px;
  }

  .signup_text{
      text-align: center;
  }
  /**************MODAL{SIGN UP}**************/
 /**************MODAL{SIGN IN}**************/
 .signin_dialog{
    max-width:60%;
  }
  .signin_img{
      background-image: url('../Images/signup.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
  }
  .signin_content h3{
    margin-bottom: 0;
    font-weight: 600;
  }

  .signin_form .form-control{
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border-color: #f0f0f0;
  }
  .signin_form .form-check-label{
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .signin_form .btn-primary{
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #fc0357;
    border-color: #fc0357;
  }

  .signin_form .btn-primary:not(:disabled):not(.disabled):active{
    background-color: #fc0357;
    border-color: #fc0357;
  }

  .signin_form .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #fc035773;
  }

  .signup_text{
      text-align: center;
  }
  /*MODAL{SIGN UP}*/

  /*------------------------------------ Whatsapp Support---------------------------------------- */

  /* Whatsapp Support */
 
  .float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 2px 2px 3px #999;
z-index:100;
}

.my-float{
margin-top:16px;
}

  /* -------------------------------------carousel----------------------------------------------- */
  /* Carousel Container */
  #crlContainer{
    margin: 8px auto;
  }

  /*---------------------------------------- gallery----------------------------------------------- */
  .gallery{
    margin-top: 30px;
  }
  #ourFood span{
    color: rgb(252, 128, 26);
   text-align: center;
   font-size: 50px;
   display: block;
   margin-bottom: 20px;
  }
  #ourRest span{
    color: #ff8128;
   text-align: center;
   font-size: 50px;
   display: block;
   margin-top: 30px;
   margin-bottom: 20px;
  }
  .box{
    display: inline-block;
    margin: 8px;
  }
  .box:hover{
    filter: brightness(80%);

  }
  .box img{
    width: 350px;
    height: 260px;
  }

  /**************WELCOME CAROUSEL{START}**************/
  .welcome-carousel{
    margin-top: 50px;
    color: white;
    text-align: center;
  }
  .welcome-carousel h5{

    margin: 10px auto;
    display: block;
    width: 67%;
    justify-content: center;
  }

  /**************WELCOME CAROUSEL{END}**************/

  /* ----------------------------------------order button ------------------------------------ */

  #order{
    margin: 30px auto;
    display: block;
    font-size: 30px;
    padding: 6px 20px;
    border-radius: 30px;
  }

  /**************Below Order Button{Start}**************/
    .detail{
      color: white;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    }

    .detail .minimul-order{
      justify-content: center;
      text-align: center;
    }
    .detail .minimul-order p{
      display: block;
      margin: 10px auto;
      width: 70%;
    }
    .detail .live-tracking{
      justify-content: center;
      text-align: center;
    }
    .detail .live-tracking p{
      display: block;
      margin: 10px auto;
      width: 70%;
    }
    .detail .fast-delivery{
      justify-content: center;
      text-align: center;
    }
    .detail .fast-delivery p{
      display: block;
      margin: 10px auto;
      width: 70%;
    }
    
  /**************Below Order Button{End}**************/
    .pop-up{
      position: fixed;
      right: 20px;
      bottom: 0px;
    }
 
  .pop-up img {
    position: absolute;
    right: 10px;
    bottom: 0;
    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 15vw;
    height: 45vh;
    transform-origin: bottom;
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    overflow: hidden;
  }

  @keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
  .pop-up h3 {
    position: absolute;
    right: 10px;
    bottom: 200px;
    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 15vw;
    height: 45vh;
    transform-origin: bottom;
    animation-name: bounce-h3;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    overflow: hidden;
    color: white;
  }

  @keyframes bounce-h3 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}